/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root{
  --main-color: rgba(231, 149, 162, 0.761);
  --bg-color: rgb(255, 242, 240);
  --dark-color: rgb(57, 57, 57);
}

body{
  background-color: var(--bg-color);
}

.wrapper{
  display: flex;
  width: 95%;
  margin: auto;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 4rem;
  gap: 0.5rem;
  height: fit-content;
}

main{
    flex: 4;
    border: 1px solid var(--dark-color);
    padding: 1rem;
    background-color: var(--main-color);
}

aside{
    flex: 1;
    height: 100%;
    padding: 8px;
    border: 1px solid var(--dark-color);
    background-color: var(--main-color);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.auth{
  display: flex;
  height: 100vh;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: var(--bg-color);
}

.btn-group{
  text-align: center;
}

.btn-group button{
  width: 50%;
  max-width: 10rem;
  margin-top: 0.5rem;
  background-color: var(--dark-color);
  color: var(--bg-color);
  font-size: 1.2rem;
}

.aside-title{
  border-bottom: 2px solid var(--dark-color);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.aside-title h3{
  margin: 0;
}

.fa-plus{
  font-size: 1.5rem;
  border-bottom: none;

}

#entries {
  padding: 0;
  background-color: var(--bg-color);
}

.fa-solid:hover{
  color: var(--main-color);
}

#entries li {
  padding: 5px 0 5px 14px;
  margin-bottom: 5px;
}

.editor-toolbar i.separator{
  border-left: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);
}

#entries .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#entries small{
  display: block;
}

#entries p{
  margin: 0;
  font-size: 1.2rem;
  margin-top: 10px; 
}

#preview-area{
  background-color: var(--bg-color);
  padding: 5px;
}

form .EasyMDEContainer .CodeMirror{
 border-width: 2px;
 border-color: var(--dark-color);
 margin: 4px 0;
 background-color: var(--bg-color);
}

form .EasyMDEContainer .editor-toolbar{
  border: none;
}

form .EasyMDEContainer .editor-statusbar{
  font-size: 1rem;
  color: var(--dark-color);
}


/* paper css overrides */
.aside-title a {
  background: none;
}

h1{
  margin:0;
}

#entries li::before {
  content: none;
  display: none;
  list-style-position: inside;
}

/* EasyMDE applies inline styling*/

#preview .EasyMDEContainer {
  height: auto !important;
}

.editor-preview-full {
  position: static !important;
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important;
  overflow: visible !important;
}

.EasyMDEContainer {
  height: auto !important;
  overflow: visible !important;
}

.CodeMirror {
  height: auto !important;
  min-height: 0 !important;
}